<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trainer Management System">

  <test name="LoginPageTest">
    <parameter name="browser" value="chrome"/>
       <classes>
          <class name="com.TrainerManagementSystem.testCases.TC_LoginTest"/> 
        <!-- <class name="com.TrainerManagementSystem.testCases.TC_SignUp"/>-->

       </classes>
  </test>
</suite>